/* We need this import for matTooltipModule, else it won't work */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
