<mat-slider thumbLabel min="1" max="10" [(ngModel)]="stampService.resizeFactor"></mat-slider>

<mat-form-field>
    <mat-label>Étampe</mat-label>
    <mat-select class="white" value = "stampService.currentStamp" [(ngModel)]="stampService.selectStamp" (selectionChange)="stampService.changeStamp()">
      <mat-option [value] = "StampList.Surprised">Surprised</mat-option>
      <mat-option [value] ="StampList.Happy">Heureux</mat-option>
      <mat-option [value] ="StampList.Sad">Triste</mat-option>
      <mat-option [value] ="StampList.Glasses">Lunette</mat-option>
      <mat-option [value] ="StampList.Dead">Mort</mat-option>
    </mat-select>
  </mat-form-field>

