<div id="canvas-container" [style.width.px]="width" [style.height.px]="height">
    <canvas id="canvas" #baseCanvas [attr.width]="width" [attr.height]="height"> </canvas>
    <canvas id="previewLayer" #previewCanvas [attr.width]="width" [attr.height]="height"></canvas>
    <div class="corner bottom-right" (mousedown)="onCornerClick($event, bottomRight)"></div>
    <div class="corner bottom-center" (mouseDown)="onCornerClick($event, bottomCenter)"></div>
    <div class="corner right-center" (mouseDown)="onCornerClick($event, rightCenter)"></div>
</div>
