<div id="canvas-container">
    <canvas id="canvas" #baseCanvas [attr.width]="width" [attr.height]="height"> </canvas>
    <canvas id="previewLayer" #previewCanvas [attr.width]="width" [attr.height]="height"> </canvas>
</div>
<div class="example-box" cdkDrag (cdkDragMoved)="dragMoved($event)">Drag me around</div>
<div class="canvasAndOverlayWrapper container" style="position: relative">
    <div class="overlay overlayTopLeft">
        <div>top left</div>
    </div>

    <div class="overlay overlayTopRight">
        <div>top right</div>
    </div>

    <div class="overlay overlayBottomLeft">
        <div>bottom left</div>
    </div>

    <div class="overlay overlayBottomRight">
        <div>bottom right</div>
    </div>
</div>
