<div class="container">
  <button mat-icon-button matTooltip="Accueil" matTooltipPosition="above" routerLink="/home">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Nouveau dessin" matTooltipPosition="above">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Ouvrir un dessin" matTooltipPosition="above">
    <mat-icon>folder</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Sauvegarder" matTooltipPosition="above">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Exporter" matTooltipPosition="above">
    <mat-icon>open_in_new</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Paramètres de la grille" matTooltipPosition="above">
    <mat-icon>settings</mat-icon>
  </button>
</div>