<mat-grid-list cols="3">
    <mat-grid-tile>
        <button mat-icon-button matTooltip="Accueil" matTooltipPosition="above" routerLink="/home">
            <mat-icon>home</mat-icon>
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-icon-button matTooltip="Nouveau dessin" (click)="handleCreateDraw()" matTooltipPosition="above">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-icon-button matTooltip="Ouvrir un dessin" matTooltipPosition="above" disabled="true">
            <mat-icon>folder</mat-icon>
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-icon-button matTooltip="Sauvegarder" matTooltipPosition="above" disabled="true">
            <mat-icon>save</mat-icon>
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-icon-button matTooltip="Exporter" matTooltipPosition="above" disabled="true">
            <mat-icon>open_in_new</mat-icon>
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-icon-button matTooltip="Paramètres de la grille" matTooltipPosition="above" disabled="true">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-grid-tile>
</mat-grid-list>
