<div class="container">
  (Tools here)
  <ul *ngFor item in list-items></ul>
  <mat-list>
    <mat-list-item>
      <button mat-icon-button>
        <mat-icon>create</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-icon-button>
        <mat-icon>check_box_outline_blank</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-icon-button>
        <mat-icon>radio_button_unchecked</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-icon-button>
        <mat-icon>horizontal_rule</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-icon-button>
        <mat-icon>palette</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <hr>
  (Tool's config here)
</div>
