<div class="container">
  <h3>Outils</h3>
  <mat-grid-list cols="3" rowHeight="1.25:1">
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon>create</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon>brush</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon>palette</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon>radio_button_unchecked</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon>check_box_outline_blank</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon>signal_cellular_null</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon>power_input</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon>T</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon>blur_on</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <hr>
  (Tool's config here)
</div>