<div class="container">
    <h3>Outils</h3>
    <mat-grid-list cols="3">
        <mat-grid-tile>
            <button mat-icon-button matTooltip="Crayon" matTooltipPosition="above" (click)="onTool(ToolList.Pencil)">
                <mat-icon>create</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button matTooltip="Efface" matTooltipPosition="above" (click)="onTool(ToolList.Eraser)">
                <mat-icon>how_to_vote</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button matTooltip="Brush" matTooltipPosition="above">
                <mat-icon>brush</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button matTooltip="Ellipse" matTooltipPosition="above" (click)="onTool(ToolList.Ellipse)">
                <mat-icon>radio_button_unchecked</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button matTooltip="Rectangle" matTooltipPosition="above" (click)="onTool(ToolList.Rectangle)">
                <mat-icon>check_box_outline_blank</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button matTooltip="Polygone" matTooltipPosition="above">
                <mat-icon>signal_cellular_null</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button matTooltip="Ligne" matTooltipPosition="above" (click)="onTool(ToolList.Line)">
                <mat-icon>power_input</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button matTooltip="Texte" matTooltipPosition="above">
                <mat-icon>T</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button matTooltip="Aérosol" matTooltipPosition="above">
                <mat-icon>blur_on</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
    <hr />
</div>
