<div class="container">
    <h2>&#123; Poly Dessine &#125;</h2>
    <h5>Équipe 104</h5>
    <hr />
    <app-color-displayer></app-color-displayer>
    <app-tools-list></app-tools-list>
    <app-line-config *ngIf="toolManagerService.currentToolEnum == ToolList.Line"></app-line-config>
    <app-pencil-config *ngIf="toolManagerService.currentToolEnum == ToolList.Pencil"></app-pencil-config>
    <app-eraser-config *ngIf="toolManagerService.currentToolEnum == ToolList.Eraser"></app-eraser-config>
    <app-rectangle-config *ngIf="toolManagerService.currentToolEnum == ToolList.Rectangle"></app-rectangle-config>
    <app-ellipse-config *ngIf="toolManagerService.currentToolEnum == ToolList.Ellipse"></app-ellipse-config>  
    <app-file-menu></app-file-menu>
</div>
