<div class="container">
    <h2>&#123; Poly Dessine &#125;</h2>
    <h5>Équipe 104</h5>
    <hr>
    <div class="tools-container">
        <p>
            (Les icônes des outils de l'app iront ici)
        </p>
    </div>
    <hr>
    <div class="config-container">
        <p>
            (Les configurations des outils iront ici)
        </p>
    </div>
    <div class="file-menu">
        <mat-icon title="Accueil">home</mat-icon>
        <mat-icon title="Créer un nouveau dessin">add_circle_outline</mat-icon>
        <mat-icon title="Ouvrir un dessin">folder</mat-icon>
        <mat-icon title="Sauvegarder">save</mat-icon>
        <mat-icon title="Exporter">open_in_new</mat-icon>
        <mat-icon title="Configuration de la grille">settings</mat-icon>
    </div>
    <p></p>
</div>