<div id="main-container">
    <div id="header"><h1>Carousel de dessin</h1></div>
    <div>
        <label for="ffiltre">Filtrer: </label>
        <input type="text" id="filtre" name="ffiltre" />
        <button>Entrer</button><br /><br />
    </div>
    <div id="images-container">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <div id="no-drawing-container" *ngIf="imageCards.length == 0 && !isLoading">Aucun dessin.</div>
        <div id="drawings-container" *ngIf="imageCards.length > 0 && !isLoading">
            <app-carousel-drawing [drawing]="placement[0]" (componentClicked)="chosen($event)"></app-carousel-drawing>
            <app-carousel-drawing [drawing]="placement[1]" (componentClicked)="chosen($event)"></app-carousel-drawing>
            <app-carousel-drawing [drawing]="placement[2]" (componentClicked)="chosen($event)"></app-carousel-drawing>
        </div>
    </div>
    <div id="control-container" mat-dialog-actions>
        <button mat-button (click)="previousImages()"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <button mat-button (click)="nextImages()"><mat-icon>keyboard_arrow_right</mat-icon></button>
        <button mat-button matTooltip="Supprimer" [disabled]="isDisabled" (click)="deleteDrawing()" id="delete-button" #recycleBin>
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-button matTooltip="Charger" [disabled]="isDisabled" (click)="loadImage()" id="load-button" #loadImageButton>
            <mat-icon>input</mat-icon>
        </button>
        <button mat-button mat-dialog-close matTooltip="Fermer"><mat-icon>disabled_by_default</mat-icon></button>
    </div>
</div>

<!-- <canvas #canvas [src] = ></canvas> -->
