#main-container {
    width: 1000px;
    height: 500px;
    overflow: hidden;
}

#header {
    text-align: center;
}

app-carousel-drawing {
    padding: 12px;
    display: inline-flex;
}

::ng-deep .mat-dialog-container {
    overflow: hidden !important;
}

#images-container {
    max-width: 1000px;
    height: 400px;
}

#no-drawing-container {
    text-align: center;
}
