#main-container {
    width: 1000px;
    height: 600px;
    overflow: hidden;
}

#header {
    text-align: center;
}

app-carousel-drawing {
    padding: 12px;
    display: inline-flex;
}

::ng-deep .mat-dialog-container {
    overflow: hidden !important;
}

#images-container {
    max-width: 1000px;
    height: 400px;
}

#no-drawing-container {
    text-align: center;
}

mat-spinner {
    position: absolute;
    left: 50%;
}

li {
    list-style: none;
    display: inline-block;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 0 5px 0 15px;
    margin: 5px;
}
#filter-container {
    max-height: 100px;
}
.active {
    border: red solid 1px;
}
