#main-container {
    width: 320px;
    height: 325px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-height: 150px;
}

h3 {
    display: inline;
}
