<div class="grid">
    
    <h3>Grille</h3>

    <mat-checkbox (change)="switchGridView($event.checked)" [checked]="isEnabled">Activer grille</mat-checkbox>
    <hr />

    <div id="section">
        <p>Taille des carrés</p>
        <div class="attributeContainer">
            <input
                type="text"
                [(value)]="squareSize"
                (change)="changeGridSize($event.target.value)"
                [min]="minSquareSize"
                [max]="maxSquareSize"
            />
            <div>
                <button (click)="changeGridSize(squareSize - 5)">-</button>
                <button (click)="changeGridSize(squareSize + 5)">+</button>
            </div>
        </div>
        <hr class="bottomBorder" />
    </div>

    <div id="section">
        <p>Opacité des lignes</p>
        <div class="attributeContainer">
            <input
                type="text"
                [(value)]="currentOpacity"
                (change)="changeOpacity($event.target.value)"
                [min]="minOpacity"
                [max]="maxOpacity"
            />
            <div>
                <button (click)="changeOpacity(currentOpacity - 5)">-</button>
                <button (click)="changeOpacity(currentOpacity + 5)">+</button>
            </div>
        </div>
        
    </div>
</div>